%section#services
  %section.intro
    .container
      %h1= t('mac-support.titles')[0]

      - t('services.paragraphs').each do |item|
        %p= item.html_safe

    .animation-intro
      .relative-box
        = image_tag 'services/services-01.png', class: 'base'
        = image_tag 'services/services-02.png', class: 'front'
        = image_tag 'services/globe.png', class: 'man-globe globe'
        = image_tag 'services/globe.png', class: 'woman-globe globe'
        %span.dot

  %section.body
    .bend
      %section#contract
        .container
          .copywrite
            %h2 How does it work?
            %p By working with Dr Logic on a contract basis, we get to know your business and proactively manage your IT for you. You’ll have a dedicated account manager who will get to know your set-up and your team. They’ll make regular visits to your office to make sure everything is working as it should and to provide on-site support or training. Twice a year, we carry out client review meetings to discuss your IT set up and make recommendations on key areas you might want to consider upgrading.

            = button_tag "What’s included?", id:"tips", class: "btn btn-primary green"

            .highlight
              %p We charge a fixed monthly fee for each person in your company, which then gives you unlimited support 9am to 6pm, Monday to Friday. This covers all the user’s computers, iPhones, iPads,  and includes market-leading anti-virus protection, documentation management and domain name records.

        - t('services.contract.products').each_with_index do |item|
          %section.service
            .container
              .row
                .column.img
                  = image_tag item[:img]
                .column.text
                  %h3= item[:title]
                  - item[:body].each do |item|
                    %p= item

        %section.infogram
          %article.textDesktop
            .txt-box
              %h3= t('services.contract.infogram')[0][:title]
              %p= t('services.contract.infogram')[0][:body]

          .container

            - t('services.contract.infogram').each_with_index do |item, index|
              %article{class: "sec#{index}"}
                .image-box
                  %span.number{ class: "n#{index}" } #{index}.
                  = image_tag item[:img]
                .txt-box
                  %h3= item[:title]
                  %p= item[:body]

  %section.call-us
    .container
      .col-md-6
        %h2= t('contact-us.titles')[0]
        - t('contact-us.paragraphs').each do |item|
          %p= item
        = link_to "#{t('contact-us.btns')[0]}", "contact-us", class: 'btn btn-default white'
        %small
          or call us
          = link_to "020 3642 6540", "tel:02036426540", class: 'phone'
      .col-md-6
        = image_tag "mac-help.png", class: 'preview'