%section#other-services
  %section.intro
    .container
      %h1= t('o_services.title')

      .row
        - t('o_services.paragraphs').each do |item|
          .column
            %p= item.html_safe

    .animation-intro
      .relative-box
        = image_tag "o-services/animation.png", class: "head-mobile", width: "40"
        = image_tag "o-services/intro-02.png", class: "e01", width: "40"
        = image_tag "o-services/intro-03.png", class: "e02", width: "110"
        = image_tag "o-services/intro-04.png", class: "e03", width: "70"
        = image_tag "o-services/intro-05.png", class: "e04", width: "170"
        = image_tag "o-services/intro-06.png", class: "e05", width: "220"
        = image_tag "o-services/intro-07.png", class: "e06", width: "130"
        = image_tag "o-services/intro-08.png", class: "e07", width: "70"
        = image_tag "o-services/intro-09.png", class: "e08", width: "150"

  %section.body
    .bend
      .container
        .copywrite

        %section.strategy
          .row
            .col-sm-4
              = image_tag "o-services/meeting.png"
            .col-sm-8
              %h3 Consulting without complexity
              %p If the mere mention of consultancy fills you with dread, Dr Logic guarantees a pain-free consultation. Talk to us about your issue and your budget and we’ll look at your business with you and provide tailored advice on the right IT solutions. We specialise in working with SME’s in creative industries and have a raft of experience in many sectors including PR, Architects, Engineering, Finance, Design and Advertising. No nasty surprises, no unrealistic recommendations. Just common sense from the Doctor.

      %section.diagram
        .container

          %h3 What can Dr Logic do for you?
          %p Dr Logic can help your business, by offering impartial advice on a whole range of IT and support services. We work with trusted partners, but can also recommend and implement solutions from across the marketplace to meet your needs.

          .diagram-contain
            = image_tag "o-services/diagram/logo.png", class: "logo"
            = image_tag "o-services/diagram/broadband.png", class: "broadband"
            = image_tag "o-services/diagram/devices.png", class: "devices"
            = image_tag "o-services/diagram/email.png", class: "email"
            = image_tag "o-services/diagram/hosting.png", class: "hosting"
            = image_tag "o-services/diagram/networking.png", class: "networking"
            = image_tag "o-services/diagram/software.png", class: "software"
            = image_tag "o-services/diagram/storage.png", class: "storage"
            = image_tag "o-services/diagram/wireless.png", class: "wireless"
            = image_tag "o-services/diagram/backup.png", class: "backup"

  %section.call-us
    .container
      .col-md-6
        %h2= t('contact-us.titles')[0]
        - t('contact-us.paragraphs').each do |item|
          %p= item
        = link_to "#{t('contact-us.btns')[0]}", "contact-us", class: 'btn btn-default white'
        %small
          or call us
          = link_to "020 3642 6540", "tel:02036426540", class: 'phone'
      .col-md-6
        = image_tag "mac-help.png", class: 'preview'